body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
  color: #333;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

hr {
  border: 5px solid #830071;
  border-radius: 20px;
  max-width: 500px;
}

h1 {
  text-align: center;
  margin: 5px 0 5px 0;
}

.status {
  font-weight: bold;
}

.background {
  background-color: white;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 20px;
}

.btn {
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.btn:hover {
  opacity: 0.8;
}

.btn:focus {
  outline: none;
}

#settingsWrapper {
  margin-top: 10px;
  margin-bottom: 10px;
}

#toggleMicBtn,
#addWordPairBtn {
  background-color: #333333;
}

#clearBtn {
  background-color: #666666;
}

.checkbox-label {
  margin-left: 20px;
  cursor: pointer;
  font-family: Arial, sans-serif;
  color: #333;
  font-size: 16px;
}

.checkbox-input {
  margin-left: 10px;
  cursor: pointer;
  height: 20px;
  width: 20px;
  vertical-align: middle;
}

.checkbox-input:checked {
  background-color: #4CAF50;
}

.checkbox-label:hover {
  color: #830071;
}


#languageSelect {
  padding: 8px 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: white;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

#languageSelect:hover {
  border-color: #830071;
}

#languageSelect:focus {
  border-color: #830071;
  box-shadow: 0 0 5px rgba(131, 0, 113, 0.3);
}

input[type='number'] {
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: white;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

#confidenceValue {
  margin: 10px 0;
}

#confidenceThresholdInput:hover {
  border-color: #830071;
}

#confidenceThresholdInput:focus {
  border-color: #830071;
  box-shadow: 0 0 5px rgba(131, 0, 113, 0.3);
}

#confidenceThresholdInputLabel {
  font-family: Arial, sans-serif;
  color: #333;
  font-size: 16px;
}

h3 {
  text-decoration: underline;
}

h4 {
  margin-bottom: 0;
}

p {
  margin: 5px 10px;
}

ul {
  margin-top: 0;
}

label {
  user-select: none;
}

#wordPairList div {
  margin-bottom: 10px;
  padding: 5px;
  background-color: #f9f9f9;
  border: 1px solid #eee;
  border-radius: 8px;
}

#wordPairList span {
  margin-right: 10px;
  font-weight: bold;
}

#wordPairList button {
  padding: 5px 10px;
  font-size: 14px;
  margin-left: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#wordPairList button:nth-child(2) {
  background-color: #4CAF50;
  color: white;
}

#wordPairList button:nth-child(3) {
  background-color: #f44336;
  color: white;
}

#wordPairList button:hover {
  opacity: 0.8;
}

#addWordPairForm {
  margin-bottom: 20px;
}

#addWordPairForm input[type='text'] {
  padding: 8px 10px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: white;
  font-size: 16px;
}

#addWordPairForm input[type='text']:hover,
#addWordPairForm input[type='text']:focus {
  border-color: #830071;
  box-shadow: 0 0 5px rgba(131, 0, 113, 0.3);
}

.accordion-button {
  background-color: #f4f4f4;
  /* Lighter background for a less button-like look */
  color: #830071;
  /* Using your primary color for text */
  cursor: pointer;
  padding: 12px 18px;
  border-bottom: 2px solid #830071;
  /* Adding a bottom border for a header-like separation */
  text-align: left;
  outline: none;
  font-size: 18px;
  /* Slightly larger font size for a header feel */
  font-weight: bold;
  /* Making the text bold */
  transition: 0.4s;
  border-radius: 0;
  /* Removing border radius for a more header-like appearance */
  margin-bottom: 0;
  /* Eliminating space between header and content */
}

.accordion-button:hover {
  background-color: #e8e8e8;
  /* Slightly darker background on hover for interactivity */
}

.accordion-button.active {
  background-color: #e0e0e0;
  /* Active state to indicate expanded section */
  border-bottom: 2px solid #6e005c;
  /* Darker border for active state */
}

.accordion-content {
  padding: 15px;
  display: none;
  background-color: white;
  border: 1px solid #ddd;
  border-top: none;
  /* Removing the top border to blend with the header */
  border-radius: 0;
  /* Aligning with the header style */
  margin-bottom: 20px;
  /* Consistent spacing */
}

/* Additional styling for content inside accordion for better readability */
.accordion-content p,
.accordion-content label,
.accordion-content input,
.accordion-content button {
  margin-bottom: 10px;
}

.container {
  width: 80%;
  /* Adjust the width as needed */
  max-width: 1200px;
  /* Maximum width of the container */
  margin: auto;
  /* Center the container */
  padding: 20px;
  /* Padding around the content */
  background-color: #fff;
  /* Background color of the container */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* Optional shadow for a subtle depth effect */
}

.accordion-button,
.accordion-content {
  width: 100%;
  /* Make accordions take full width */
  box-sizing: border-box;
  /* Include padding and border in the width */
}

.accordion-button::after {
  content: '\002B';
  /* Unicode plus sign */
  color: #830071;
  /* Same as your primary color */
  float: right;
  /* Position it to the right */
  margin-left: 5px;
  transition: transform 0.4s;
}

.accordion-button.active::after {
  content: '\2212';
  /* Unicode minus sign */
  transform: rotate(360deg);
  /* Rotate effect when active */
}