body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
  color: #333;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

hr {
  border: 5px solid #830071;
  border-radius: 20px;
  max-width: 500px;
}

h1 {
  text-align: center;
  margin: 5px 0 5px 0;
}

.status {
  font-weight: bold;
}

.background {
  background-color: white;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 20px;
}

.btn {
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.btn:hover {
  opacity: 0.8;
}

.btn:focus {
  outline: none;
}

#settingsWrapper {
  margin-top: 10px;
  margin-bottom: 10px;
}

#toggleMicBtn,
#addWordPairBtn {
  background-color: #333333;
}

#clearBtn {
  background-color: #666666;
}

.checkbox-label {
  margin-left: 20px;
  cursor: pointer;
  font-family: Arial, sans-serif;
  color: #333;
  font-size: 16px;
}

.checkbox-input {
  margin-left: 10px;
  cursor: pointer;
  height: 20px;
  width: 20px;
  vertical-align: middle;
}

.checkbox-input:checked {
  background-color: #4CAF50;
}

.checkbox-label:hover {
  color: #830071;
}


#languageSelect {
  padding: 8px 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: white;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

#languageSelect:hover {
  border-color: #830071;
}

#languageSelect:focus {
  border-color: #830071;
  box-shadow: 0 0 5px rgba(131, 0, 113, 0.3);
}

input[type='number'] {
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: white;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

#outputWrapper {
  margin-top: 1em;
}

#confidenceValue {
  margin: 1em 0;
}

#confidenceThresholdInput:hover {
  border-color: #830071;
}

#confidenceThresholdInput:focus {
  border-color: #830071;
  box-shadow: 0 0 5px rgba(131, 0, 113, 0.3);
}

#confidenceThresholdInputLabel {
  font-family: Arial, sans-serif;
  color: #333;
  font-size: 16px;
}

h3 {
  text-decoration: underline;
}

h4 {
  margin-bottom: 0;
}

p {
  margin: 5px 10px;
}

ul {
  margin-top: 0;
}

label {
  user-select: none;
}

#wordPairList div {
  margin-bottom: 10px;
  padding: 5px;
  background-color: #f9f9f9;
  border: 1px solid #eee;
  border-radius: 8px;
}

#wordPairList span {
  margin-right: 10px;
  font-weight: bold;
}

#wordPairList button {
  padding: 5px 10px;
  font-size: 14px;
  margin-left: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#wordPairList button:nth-child(2) {
  background-color: #4CAF50;
  color: white;
}

#wordPairList button:nth-child(3) {
  background-color: #f44336;
  color: white;
}

#wordPairList button:hover {
  opacity: 0.8;
}

#addWordPairForm {
  margin-bottom: 20px;
}

#addWordPairForm input[type='text'] {
  padding: 8px 10px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: white;
  font-size: 16px;
}

#addWordPairForm input[type='text']:hover,
#addWordPairForm input[type='text']:focus {
  border-color: #830071;
  box-shadow: 0 0 5px rgba(131, 0, 113, 0.3);
}

.accordion-button {
  background-color: #f4f4f4;
  color: #830071;
  cursor: pointer;
  padding: 12px 18px;
  border-bottom: 2px solid #830071;
  text-align: left;
  outline: none;
  font-size: 18px;
  font-weight: bold;
  transition: 0.4s;
  border-radius: 0;
  margin-bottom: 0;
}

.accordion-button:hover {
  background-color: #C8C8C8;
}

.accordion-button.active {
  background-color: #e0e0e0;
  border-bottom: 2px solid #6e005c;
}

.accordion-content {
  padding: 15px;
  display: none;
  background-color: white;
  border: 1px solid #ddd;
  border-top: none;
  border-radius: 0;
  margin-bottom: 20px;

}

.accordion-content p,
.accordion-content label,
.accordion-content input,
.accordion-content button {
  margin-bottom: 10px;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.accordion-button,
.accordion-content {
  width: 100%;
  box-sizing: border-box;
}

.accordion-button::after {
  content: '\002B';
  color: #830071;
  float: right;
  margin-left: 5px;
  transition: transform 0.4s;
}

.accordion-button.active::after {
  content: '\2212';
  transform: rotate(360deg);
}

#saved-commands-dropdown {
  padding: 5px 12px;
  margin-top: 3px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  font-size: 16px;
  cursor: pointer;
}

#unsaved {
  color: red;
  font-weight: bold;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .blocklySvg {
      border-radius: 0;
  }

  button, input[type="text"], select {
      font-size: 14px;
  }
}

#clear-btn {
  background-color: #b4794e;
}

#save-btn {
  background-color: #53b253;
}

#export-btn, #exportWordDictBtn {
  background-color: #ac9769;
}

#import-btn, #importWordDictBtn {
  background-color: #8c77b3;
}

#export-btn, #import-btn {
  float: right;
}

#load-selected-btn {
  background-color: #4f9a67;
  float: right;
}

#delete-btn {
  background-color: #962c28;
  float: right;
}

#validate-btn {
  background-color: #333333;
  float: right;
}

#validate-input {
  flex-grow: 1;
  margin-right: 8px;
  font-size: 16px;
  margin-top: 5px;
  padding: 8px 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: white;
}

#editingBanner {
  text-align: center;
  font-size: 21px;
  font-weight: bold;
}

#validationOutput {
  display: flex;
}

.output-command, .output-parameter {
  padding: 10px 20px;
  border-radius: 8px;
  margin-right: 10px;
  color: #FFFFFF;
  font-weight: bolder;
}

.output-command {
  background-color: #5B67A5;
}

.output-parameter {
  background-color: #238133;
}

.param-label, .command-label {
  font-weight: bold;
  background-color: #e8e8e8;
  color: #333333;
  padding: 5px;
  border-radius: 5px 8px;
  margin-left: 10px;
}

